/* App.css */
.app-container {
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  background-color: #222;
  color: white;
  padding: 20px;
}

.app-footer {
  background-color: #222;
  color: white;
  padding: 10px;
  font-size: 0.9em;
}
